<!doctype html>
<html lang="en" ng-app="pulpitator">
  <head>
    <meta charset="utf-8">
    <base href="/">
    
    <title>Pulpitator</title>
    <link href="/assets/styles.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="/assets/vendor.js" type="text/javascript"></script>
    <script src="/assets/scripts.min.js" type="text/javascript"></script>
  </head>
  <body ng-controller="AppController">
    <div class="app-container">
      
      <%= render partial: 'player.html' %>
      
      <div
        ng-controller="PlayheadController"
        class="playhead-container"
        ng-mousedown="mousedown($event)">
        
        <div class="playhead">
          <div class="playhead-progress" lx-width="player.playedPercent"></div>
        </div>
      </div>
      
      <main>
        <%= render partial: 'playlist.html' %>
        <section class="library" ng-controller="LibraryController">
          <%= render partial: 'artists.html' %>
          <%= render partial: 'songs.html' %>
        </section>
      </main>
      
      <footer>
        &copy; <%= Time.now.year %>
      </footer>
      
    </div>
    
    <%= render partial: 'song_info' %>
    
  </body>
</html>